@charset "utf-8";

html, body { height:100%; }
body { margin:0; padding:0; font-family:'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:300; letter-spacing:-1px; }
ul, li { list-style:none; margin:0; padding:0; }

/*** Mobile ***/
.container { width:100%; height:100%; display:flex; flex-direction:column; justify-content:space-between; position:relative; }

    /** Mobile header **/
    .container header { position:fixed; z-index:9999; width:100%; height:81px; padding:27px 4%; box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; background:url(../images/line2.png) no-repeat 55% 50%; background-color:#fff; background-size:52% 3px; }
        .container header.none { background:none; }

        /* logo */
        .container header h1 { width:60px; height:30px; margin:0; background:url(../images/logoM2.png) no-repeat 50% 50%; background-size:cover; }
        .container header h1.none { background:none; }
        .container header h1 a { display:block; width:100%; height:100%; }
        
        /* mobile navigation icon */
        .container header .menu-wrapper { width:39px; height: 39px; background-color:#0027c9; border-radius:50%; cursor: pointer; display:flex; justify-content:center; align-items:center; }
        .container header .menu-wrapper.visible { z-index:9999; }

        .container header .menu-wrapper .hamburger-menu, .container header .menu-wrapper .hamburger-menu:after, .container header .menu-wrapper .hamburger-menu:before { width:22px; height:1px; border-radius:50px; margin:auto; }

        .container header .menu-wrapper .hamburger-menu { position:relative; background:white; transition: all 0ms 300ms; }
        .container header .menu-wrapper .hamburger-menu.animate { background: rgba(255, 255, 255, 0); }
        .container header .menu-wrapper .hamburger-menu:before { content: ""; position: absolute; left: 0; bottom:6px; background: white; transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu:after { content: ""; position: absolute; left: 0; top:6px; background: white; transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu.animate:after { background-color:white; top: 0; transform: rotate(45deg); transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu.animate:before { background-color:white; bottom: 0; transform: rotate(-45deg); transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

        /* PC navigation */
		.container header .PC_nav { display:none; }

    /** mobile navigation **/
    .container .menu { width:100%; height:100%; background-color:rgb(255, 255, 255); position:fixed; top:0; left:100%; z-index:999; display:flex; justify-content:center; align-items:center; transition:0.7s; }
    .container .menu.active { left:0; }
        .container .menu ul { width:100%; }
            .container .menu ul li { width:100%; margin-bottom:20px;  }
                .container .menu ul li a { display:block; width:280px; margin:0 auto; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-align:left; text-indent:35px; text-decoration:none; color:#0027c9; text-transform:capitalize; font-size:1.875em; background:url(../images/menuIcon.png) no-repeat; background-size:16px; }

    /** Mobile main contents **/
    .container .main { border:1px solid #0027c9; border-top:none; margin:78px 4% 0; padding:0 4% 65px; }
    .container .main h2, .container .main .intro .title div { padding:0 5px; font-weight:300; font-size:2.5em; letter-spacing:-3px; line-height:1.4; }
        
        /* profile images */
        .container .main .intro .title .profile { position:relative; }
            .container .main .intro .title .profile img { position:absolute; top:-220px; right:-20px; width:240px; }
            .container .main .intro .title .profile img:nth-of-type(2), .container .main .intro .title .profile img:last-of-type { display:none; }

        .container .main .intro .title > div:first-of-type { margin-top:225px; }
        
        /* loop keyword (container scroller) */
        .container .main .intro .title #container-scroller { width:143px; height:56px; background-color:#0027c9; overflow:hidden; }
            .container .main .intro .title #container-scroller .container-scroller_item { width:100%; height:56px; color:#fff; padding:0 5px; font-weight:500; font-size:40px; -webkit-animation:scroll-M 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; animation:scroll-M 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; }

        .container .main .intro .title > div:last-of-type { display:block; }

        .container .main .intro .description { padding:0 5px; line-height:1.6; }
            .container .main .intro .description p:first-child { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:1.063em; margin:55px 0; }
            .container .main .intro .description p:first-child span { color:#0027c9; }

            .container .main .intro .description .hidden1, .container .main .intro .description .hidden2 { display:none; }

        /* ability */
        .container .main .ability { margin:180px 0; }
            .container .main .ability h2, .container .main .ability > p { text-align:right; padding:0 5px; }
            .container .main .ability h2 .slide { color:#fff; --color1:#0027c9; --color2:#0027c9; --bg-height:100%; background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color2))); background-image: linear-gradient(var(--color1), var(--color2)); background-repeat: no-repeat; background-size: 0 var(--bg-height); -webkit-animation: highlight 800ms 1 ease-out; animation: highlight 800ms 1 ease-out; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: paused; animation-play-state: paused; }
            .container .main .ability > p { font-size:1.063em; margin-bottom:130px; line-height:1.6; }
            .container .main .ability ul li p { line-height:1.6; font-size:1.05em; }
            .container .main .ability .hidden { display:none; }

            .container .main .ability h3 { font-size:1.25em; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; color:#0027c9; }

            .container .main .ability ul li:nth-child(2) { margin:107px 0; text-align:right; }
            .container .main .ability ul li img { display:block; margin:50px auto 40px; }
        
        /* contact */
        .container .main .contact { padding:0 5px; }
            .container .main .contact h2 .slide { color:#fff; --color1:#0027c9; --color2:#0027c9; --bg-height:100%; background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color2))); background-image: linear-gradient(var(--color1), var(--color2)); background-repeat: no-repeat; background-size: 0 var(--bg-height); -webkit-animation: highlight 800ms 1 ease-out; animation: highlight 800ms 1 ease-out; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: paused; animation-play-state: paused; }
            .container .main .contact p { font-size:1.063em; margin:45px 0 75px; line-height:1.6; }
            .container .main .contact .hidden1, .container .main .contact .hidden2 { display:none; }

            .container .main .contact ul li, .container .main .contact ul li a { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:300; }
            .container .main .contact ul li { height:35px; display:flex; align-items:center; text-indent:45px; font-size:1.063em; }
                .container .main .contact li:first-child { background:url(../images/tel.png) no-repeat 0 50%; background-size:contain; }
                .container .main .contact li:nth-child(2) { background:url(../images/mail.png) no-repeat 0 50%; background-size:contain; margin:27px 0; }
                .container .main .contact li:last-child { background:url(../images/blog.png) no-repeat 0 50%; background-size:contain; }
                
                .container .main .contact ul li a { text-decoration:none; color    :#000; }

    /** Mobile footer **/
    .container footer { width:100%; padding:39px 0; }
        .container footer p { margin:0; text-align:center; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-size:0.563em; color:#0027c9; }
        .container footer .hidden { display:none; }

        @-webkit-keyframes scroll-M {
            0.0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            12.5% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            25% {
                -webkit-transform: translateY(-56px);
                transform: translateY(-56px)
            }
            37.5% {
                -webkit-transform: translateY(-56px);
                transform: translateY(-56px)
            }
            50% {
                -webkit-transform: translateY(-112px);
                transform: translateY(-112px)
            }
            62.5% {
                -webkit-transform: translateY(-112px);
                transform: translateY(-112px)
            }
            75% {
                -webkit-transform: translateY(-168px);
                transform: translateY(-168px)
            }
            87.5% {
                -webkit-transform: translateY(-168px);
                transform: translateY(-168px)
            }
            100% {
                -webkit-transform: translateY(-224px);
                transform: translateY(-224px)
            }
        }
        
        @keyframes scroll-M {
            0.0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            12.5% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            25% {
                -webkit-transform: translateY(-56px);
                transform: translateY(-56px)
            }
            37.5% {
                -webkit-transform: translateY(-56px);
                transform: translateY(-56px)
            }
            50% {
                -webkit-transform: translateY(-112px);
                transform: translateY(-112px)
            }
            62.5% {
                -webkit-transform: translateY(-112px);
                transform: translateY(-112px)
            }
            75% {
                -webkit-transform: translateY(-168px);
                transform: translateY(-168px)
            }
            87.5% {
                -webkit-transform: translateY(-168px);
                transform: translateY(-168px)
            }
            100% {
                -webkit-transform: translateY(-224px);
                transform: translateY(-224px)
            }
        }

        @-webkit-keyframes highlight {
            to {
                background-size: 100% var(--bg-height);
            }
        }

        @keyframes highlight {
            to {
                background-size: 100% var(--bg-height);
            }
        }


/*** Tablet ***/
@media (min-width:767px) {
    /** Tablet header **/
    .container header { padding:27px 5%; background:url(../images/line2.png) no-repeat 60% 50%; background-color:#fff; background-size:55% 3px; }
        .container header h1 { width:120px; height:17px; background:url(../images/logoPC2.png) no-repeat 50% 50%; background-size:cover; }
        .container header h1 a { display:block; width:100%; height:100%; }

    /** Tablet main contents **/
    .container .main { padding:0 12% 65px; }
        .container .main h1, .container .main .intro .title div { font-size:3.906vw; }
        .container .main .intro { padding-top:30px; }
            .container .main .intro .title > div:first-of-type { margin-top:0; }
            .container .main .intro .title .profile img { width:160px; }
            .container .main .intro .title .profile img:first-of-type { top:0; right:70px; width:170px; }
            .container .main .intro .title .profile img:nth-of-type(2), .container .main .intro .title .profile img:last-of-type { display:block; }
            .container .main .intro .title .profile img:nth-of-type(2) { top:100px; right:-80px; }
            .container .main .intro .title .profile img:last-of-type { top:170px; right:70px; }

            .container .main .intro .title #container-scroller { width:14.5vw; height:5.4vw; overflow:hidden; }
                .container .main .intro .title #container-scroller .container-scroller_item { width:100%; }

    /** Tablet footer **/
    .container footer p:first-of-type { display:none; }
    .container footer .hidden { display:block; }

    @-webkit-keyframes scroll-T {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        12.5% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        25% {
            -webkit-transform: translateY(-56px);
            transform: translateY(-56px)
        }
        37.5% {
            -webkit-transform: translateY(-56px);
            transform: translateY(-56px)
        }
        50% {
            -webkit-transform: translateY(-112px);
            transform: translateY(-112px)
        }
        62.5% {
            -webkit-transform: translateY(-112px);
            transform: translateY(-112px)
        }
        75% {
            -webkit-transform: translateY(-168px);
            transform: translateY(-168px)
        }
        87.5% {
            -webkit-transform: translateY(-168px);
            transform: translateY(-168px)
        }
        100% {
            -webkit-transform: translateY(-224px);
            transform: translateY(-224px)
        }
    }
    
    @keyframes scroll-T {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        12.5% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        25% {
            -webkit-transform: translateY(-56px);
            transform: translateY(-56px)
        }
        37.5% {
            -webkit-transform: translateY(-56px);
            transform: translateY(-56px)
        }
        50% {
            -webkit-transform: translateY(-112px);
            transform: translateY(-112px)
        }
        62.5% {
            -webkit-transform: translateY(-112px);
            transform: translateY(-112px)
        }
        75% {
            -webkit-transform: translateY(-168px);
            transform: translateY(-168px)
        }
        87.5% {
            -webkit-transform: translateY(-168px);
            transform: translateY(-168px)
        }
        100% {
            -webkit-transform: translateY(-224px);
            transform: translateY(-224px)
        }
    }
}


/*** PC ***/
@media (min-width:1440px) {
    .container { position:relative; }

    /** PC header **/
    .container header { padding:27px 4%; background:url(../images/line2.png) no-repeat 40% 50%; background-color:#fff; background-size:52% 3px; }

        /* logo */
        .container header h1 { width:160px; height:23px; background:url(../images/logoPC2.png) no-repeat 50% 50%; }
        .container header h1 a { display:block; width:100%; height:100%; }

        /* mobile navigation icon */
        .container header .menu-wrapper { display:none; }

        /* PC navigation */
		.container header .PC_nav { width:22%; display:flex; justify-content:space-between; }
            .container header .PC_nav li { width:45%; }
                .container header .PC_nav li a { display:block; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; color:#0027c9; text-decoration:none; text-transform:capitalize; text-align:center; font-size:1.250em; padding:5px; transition:0.3s; }
                .container header li:hover a { background-color:#0027c9; color:#fff; }

    /** PC main contents **/
    .container .main { padding:0 190px 300px; }
        .container .main h2, .container .main .intro .title div { font-size:4.948vw; letter-spacing:-10px; }

        /* intro */
        .container .main .intro { padding-top:60px; }
            .container .main .intro .title .profile img { width:420px; }
            .container .main .intro .title .profile img:first-of-type { right:200px; width:430px; }
            .container .main .intro .title .profile img:nth-of-type(2) { top:250px; right:-120px; }
            .container .main .intro .title .profile img:last-of-type { top:400px; right:250px; }

            .container .main .intro .title #container-scroller { width:17.5vw; height:14vh; overflow:hidden; }
                .container .main .intro .title #container-scroller .container-scroller_item { font-size:4.948vw; width:100%; height:100%; -webkit-animation:scroll-PC 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; animation:scroll-PC 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; }

            .container .main .intro .description p:first-child { display:none; }
            .container .main .intro .description .hidden1 { display:block; margin:80px 0; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:1.302vw; }
            .container .main .intro .description .hidden1 span { color:#0027c9; }
            .container .main .intro .description .hidden2 { display:block; font-size:1.146vw; line-height:1.6; }
            .container .main .intro .description p:nth-child(3), .container .main .intro .description p:nth-child(4) { display:none; }

        /* ability */
        .container .main .ability { margin:280px 0 300px; }
            .container .main .ability h2 span { padding:0 10px 0 5px; }
            .container .main .ability > p { margin-bottom:230px; }
            .container .main .ability > p:first-of-type { display:none; }
            .container .main .ability .hidden { display:block; font-size:1.375em; margin-top:60px; line-height:1.6; }

            .container .main .ability ul li h3 { font-size:1.875em; font-weight:600; }
            .container .main .ability ul li p:first-of-type { display:none; }
            .container .main .ability ul li img { display:none; }

            .container .main .ability ul li:nth-child(1) { width:100%; height:155px; background:url(../images/toolsPC.png) no-repeat 0 100% / contain; position:relative; margin-bottom:150px; }
                .container .main .ability ul li:nth-child(1) h3 { position:absolute; top:0; right:118px; }
                .container .main .ability ul li:nth-child(1) .hidden { position:absolute; bottom:-40px; right:-40px; }

            .container .main .ability ul li:nth-child(2) { width:100%; height:155px; background:url(../images/programsPC.png) no-repeat 100% 300% / contain; margin:180px 0; position:relative; }
                .container .main .ability ul li:nth-child(2) h3 { position:absolute; top:0; left:44px; }
                .container .main .ability ul li:nth-child(2) .hidden { position:absolute; bottom:-40px; left:-45px; }
            
            .container .main .ability ul li:nth-child(3) { width:100%; height:206px; background:url(../images/coworkPC.png) no-repeat 9% 100% / 210px; position:relative; margin-top:150px; }
                .container .main .ability ul li:nth-child(3) h3 { position:absolute; top:0; right:20px; }
                .container .main .ability ul li:nth-child(3) .hidden { position:absolute; bottom:-40px; right:-52px; }

        /* contact */
        .container .main .contact h2 span { padding:0 15px 0 5px; }
        .container .main .contact p, .container .main .contact ul { display:none; }
            .container .main .contact li:first-child { background:none; }
            .container .main .contact li:nth-child(2) { background:none; }
            .container .main .contact li:last-child { background:none; }

        .container .main .contact .hidden1, .container .main .contact .hidden2 { display:block; }
            .container .main .contact .hidden1 { font-size:1.375em; margin-bottom:110px; }
            
            .container .main .contact .hidden2 { display:flex; align-items:center; }
                .container .main .contact .hidden2 li { display:flex; flex-direction:column; justify-content:flex-start; position:relative; }
                    .container .main .contact .hidden2 li:first-child img:first-of-type { width:60px; position:absolute; top:0; left:0; }
                    .container .main .contact .hidden2 li:first-child img:last-of-type { height:57px; margin-top:85px; margin-left:5px; visibility:hidden; }

                
                    .container .main .contact .hidden2 li:nth-child(2) a:first-of-type { width:60px; height:60px; position:absolute; top:0; left:-130px; display:flex; justify-content:center; align-items:center; }
                        .container .main .contact .hidden2 li:nth-child(2) a:first-of-type img { width:100%; height:100%; }
                    .container .main .contact .hidden2 li:nth-child(2) > img { height:57px; position:relative; top:85px; left:-120px; visibility:hidden; }

                    .container .main .contact .hidden2 li:last-child a:first-of-type { width:60px; height:60px; position:absolute; top:0; left:-430px; display:flex; justify-content:center; align-items:center; }
                        .container .main .contact .hidden2 li:last-child a:first-of-type img { width:100%; height:100%; margin:0; }
                    .container .main .contact .hidden2 li:last-child > img { display:block; width:519.93px; height:57px; visibility:hidden; position:relative; top:85px; left:-420px; }

    /** PC footer**/
    .container footer { padding:51px 0; }
        .container footer .hidden { font-size:0.938em; }

        @-webkit-keyframes scroll-PC {
            0.0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            12.5% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            25% {
                -webkit-transform: translateY(-14vh);
                transform: translateY(-14vh)
            }
            37.5% {
                -webkit-transform: translateY(-14vh);
                transform: translateY(-14vh)
            }
            50% {
                -webkit-transform: translateY(-28vh);
                transform: translateY(-28vh)
            }
            62.5% {
                -webkit-transform: translateY(-28vh);
                transform: translateY(-28vh)
            }
            75% {
                -webkit-transform: translateY(-42vh);
                transform: translateY(-42vh)
            }
            87.5% {
                -webkit-transform: translateY(-42vh);
                transform: translateY(-42vh)
            }
            100% {
                -webkit-transform: translateY(-56vh);
                transform: translateY(-56vh)
            }
        }
        
        @keyframes scroll-PC {
            0.0% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            12.5% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px)
            }
            25% {
                -webkit-transform: translateY(-14vh);
                transform: translateY(-14vh)
            }
            37.5% {
                -webkit-transform: translateY(-14vh);
                transform: translateY(-14vh)
            }
            50% {
                -webkit-transform: translateY(-28vh);
                transform: translateY(-28vh)
            }
            62.5% {
                -webkit-transform: translateY(-28vh);
                transform: translateY(-28vh)
            }
            75% {
                -webkit-transform: translateY(-42vh);
                transform: translateY(-42vh)
            }
            87.5% {
                -webkit-transform: translateY(-42vh);
                transform: translateY(-42vh)
            }
            100% {
                -webkit-transform: translateY(-56vh);
                transform: translateY(-56vh)
            }
        }
}

@media (min-width:1620px) {
    .container .main .ability ul li:nth-child(1) { background:url(../images/toolsPC.png) no-repeat 0 100% / contain, url(../images/direc1.png) no-repeat 50% 60% / 17%; }

    .container .main .ability ul li:nth-child(2) { background:url(../images/programsPC.png) no-repeat 100% 300% / contain, url(../images/direc2.png) no-repeat 50% 60% / 17%; }
            
    .container .main .ability ul li:nth-child(3) { background:url(../images/coworkPC.png) no-repeat 9% 100% / 210px, url(../images/direc1.png) no-repeat 50% 50% / 17%;}
}