@charset "utf-8";

@font-face { font-family:'RhodeBoldWide'; src: url(../fonts/Rhode-BoldWide.woff2) format('woff2'), url(../fonts/Rhode-BoldWide.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'RhodeMediumExtended'; src: url(../fonts/Rhode-MediumExtended.woff2) format('woff2'), url(../fonts/Rhode-MediumExtended.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'DrukWideCyWebBold'; src: url(../fonts/DrukWideCyWeb-Bold.woff2) format('woff2'), url(../fonts/DrukWideCyWeb-Bold.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'AntroVectra'; src: url(../fonts/AntroVectra.woff2) format('woff2'), url(../fonts/AntroVectra.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'TamoroScriptPersonalUseOnly'; src: url(../fonts/TamoroScriptPersonalUseOnly.woff2) format('woff2'), url(../fonts/TamoroScriptPersonalUseOnly.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'ZapfHumanist'; src: url(../fonts/ZapfHumanist601BT-Roman.woff2) format('woff2'), url(../fonts/ZapfHumanist601BT-Roman.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Recoleta-Thin'; src: url(../fonts/Recoleta-Thin.woff2) format('woff2'), url(../fonts/Recoleta-Thin.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Recoleta-Regular'; src: url(../fonts/Recoleta-Regular.woff2) format('woff2'), url(../fonts/Recoleta-Regular.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Recoleta-Medium'; src: url(../fonts/Recoleta-Medium.woff2) format('woff2'), url(../fonts/Recoleta-Medium.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Recoleta-Light'; src: url(../fonts/Recoleta-Light.woff2) format('woff2'), url(../fonts/Recoleta-Light.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'Recoleta-Bold'; src: url(../fonts/Recoleta-Bold.woff2) format('woff2'), url(../fonts/Recoleta-Bold.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'NanumSquareL'; src: url(../fonts/NanumSquareL.woff2) format('woff2'), url(../fonts/NanumSquareL.woff) format('woff'); font-style:normal; font-weight:normal; }

