@charset "utf-8";

html, body { height:100%; }
body { margin:0; padding:0; background-color:#0027c9; color:#fff; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; letter-spacing:-1px; }

/*** Mobile ***/
.container { width:100%; height:100%; display:flex; flex-direction:column; justify-content:space-between; position:relative; }

    /** header **/
    .container header { width:100%; height:81px; padding:27px 4%; box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; background:url(../images/line1.png) no-repeat 55% 50%; background-size:52% 3px; }
    .container header h1 { width:60px; height:30px; margin:0; background:url(../images/logoM1.png) no-repeat 50% 50%; background-size:cover; }
    .container header h1 a { display:block; width:100%; height:100%; }

    .wrapper-menu { width: 30px; height: 30px; display: flex; flex-direction: column; justify-content: space-between; transition: transform 330ms ease-out; margin:10px 5px 0 0; }
    .wrapper-menu.open { transform: rotate(-45deg); }
    .line-menu { background-color: #fff; border-radius: 5px; width: 100%; height: 3px; }
    .line-menu.half { width: 50%; }
    .line-menu.start { transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin: right; }
    .open .line-menu.start { transform: rotate(-90deg) translateX(3px); }
    .line-menu.end { align-self: flex-end; transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin: left; }
    .open .line-menu.end { transform: rotate(-90deg) translateX(-3px); }

    .container nav { width:100%; height:100%; background-color:#fff; position:absolute; display:flex; justify-content:center; align-items:center; z-index:999; visibility:hidden; }
        .container nav ul { width:100%; margin:0; padding:0; list-style:none; }
        .container nav ul li { width:100%; margin-bottom:20px;  }
        .container nav ul li a { display:block; width:280px; margin:0 auto; text-align:left; text-indent:35px; text-decoration:none; color:#0027c9; text-transform:capitalize; font-size:30px; background:url(../images/menuIcon.png) no-repeat; background-size:16px; }

    /** main **/
    .container .main { height:calc(100% - 162px); border-left:1px solid #fff; border-right:1px solid #fff; margin:0 4%; display:flex; justify-content:center; align-items:center; position:relative; }
        .container .main svg { position:fixed; }
            .container .main svg:first-of-type { display:none; animation: move1 20s infinite linear; }
            .container .main svg:nth-of-type(2) { width:30px; top:8%; left:10%; animation: move2 20s infinite linear; }
            .container .main svg:nth-of-type(3) { width:20px; top:17%; left:18%; animation: move3 20s infinite linear; }
            .container .main svg:nth-of-type(4) { width:55px; top:29%; left:51%; z-index:1; animation: move4 20s infinite linear; }
            .container .main svg:nth-of-type(5) { width:16px; top:47%; right:28%; animation: move5 20s infinite linear; }
            .container .main svg:nth-of-type(6) { width:26px; top:65%; right:30%; animation: move6 20s infinite linear; }
            .container .main svg:nth-of-type(7) { width:27px; bottom:9%; right:17%; animation: move7 20s infinite linear; }
            .container .main svg:last-of-type { display:none; animation: move8 20s infinite linear; }
        .container .main p:first-of-type { width:100%; font-size:75px; font-family:'DrukWideCyWebBold',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-align:center; }
        .container .main p:last-of-type { display:none; font-family:'DrukWideCyWebBold',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-align:center; }

    /** footer **/
    .container footer { display:flex; justify-content:center; align-items:center; width:100%; height:81px; font-size:9px; text-align:center; padding:27px 8px; box-sizing:border-box; }
        .container footer p span { color:#ffd112; font-weight:bold; }
        .container footer .hidden { display:none; }

@keyframes move1 {
    from {
        transform: rotate(90deg) translate(25px, 0.1px) rotate(-90deg);
    }
    to {
        transform: rotate(450deg) translate(25px, 0.1px) rotate(-450deg);
    }
}

@keyframes move2 {
    from {
        transform: rotate(180deg) translate(25px, 0.1px) rotate(-180deg);
    }
    to {
        transform: rotate(540deg) translate(25px, 0.1px) rotate(-540deg);
    }
}

@keyframes move3 {
    from {
        transform: rotate(270deg) translate(25px, 0.1px) rotate(-270deg);
    }
    to {
        transform: rotate(630deg) translate(25px, 0.1px) rotate(-630deg);
    }
}

@keyframes move4 {
    from {
        transform: rotate(360deg) translate(25px, 0.1px) rotate(-360deg);
    }
    to {
        transform: rotate(720deg) translate(25px, 0.1px) rotate(-720deg);
    }
}

@keyframes move5 {
    from {
        transform: rotate(450deg) translate(25px, 0.1px) rotate(-450deg);
    }
    to {
        transform: rotate(810deg) translate(25px, 0.1px) rotate(-810deg);
    }
}

@keyframes move6 {
    from {
        transform: rotate(540deg) translate(25px, 0.1px) rotate(-540deg);
    }
    to {
        transform: rotate(900deg) translate(25px, 0.1px) rotate(-900deg);
    }
}

@keyframes move7 {
    from {
        transform: rotate(630deg) translate(25px, 0.1px) rotate(-630deg);
    }
    to {
        transform: rotate(990deg) translate(25px, 0.1px) rotate(-990deg);
    }
}

@keyframes move8 {
    from {
        transform: rotate(720deg) translate(25px, 0.1px) rotate(-720deg);
    }
    to {
        transform: rotate(1080deg) translate(25px, 0.1px) rotate(-1080deg);
    }
}
          
/*** 태블릿 ***/
@media (min-width:767px) {
    .container header { padding:27px 5%; background:url(../images/line1.png) no-repeat 60% 50%; background-size:55% 3px; }
        .container header h1 { width:120px; height:17px; background:url(../images/logoPC1.png) no-repeat 50% 50%; background-size:cover; }
        .container header h1 a { display:block; width:100%; height:100%; }

        .container .main p:first-of-type { display:none; }
        .container .main p:last-of-type { display:block; font-family:'DrukWideCyWebBold',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-align:center; font-size:10vw; }

        .container .main svg:nth-of-type(2) { width:4%; top:25%; left:13%; }
        .container .main svg:nth-of-type(3) { width:3%; top:32%; left:18%; }
        .container .main svg:nth-of-type(4) { width:7%; top:33.5%; left:51%; z-index:1; }
        .container .main svg:nth-of-type(5) { width:2%; top:47%; right:35%; }
        .container .main svg:nth-of-type(6) { width:3%; top:55%; right:20%; }
        .container .main svg:nth-of-type(7) { width:4%; bottom:23%; right:15%; }

    .container footer { padding:27px 4.5%; font-size:1.172vw; }
        .container footer > p:first-of-type { display:none; }
        .container footer .hidden { background:url(../images/line1.png) no-repeat 34% 50%; background-size:40% 3px; display:flex; justify-content:center; align-items:center; width:100%; }
            .container footer .hidden p:first-of-type { margin-right:auto; }
}

/*** PC ***/
@media (min-width:1440px) {
    .container { position:relative; }

    .container header { padding:27px 4%; background:url(../images/line1.png) no-repeat 40% 50%; background-size:52% 3px; }
        .container header h1 { width:160px; height:23px; background:url(../images/logoPC1.png) no-repeat 50% 50%; }
        .container header h1 a { display:block; width:100%; height:100%; }
        .wrapper-menu { display:none; }

    .container nav { width:330px; height:18px; padding:30px 4%;  background-color:transparent; position:absolute; right:4%; display:flex; justify-content:center; align-items:center; z-index:999; visibility:visible; }
        .container nav ul { width:100%; margin:0; padding:0; list-style:none; display:flex; }
            .container nav ul li { width:165px; margin-bottom:0; }
            .container nav ul li:last-of-type { margin-left:60px; }
            .container nav ul li a { display:block; width:165px; text-align:center; text-indent:0; text-decoration:none; color:#fff; text-transform:capitalize; font-size:20px; background:none; padding:5px; box-shadow: inset 0 0 0 0 #fff; transition: all 0.6s ease-in-out 0s; }
            .container nav ul li:hover a { box-shadow: inset 0 -300px 0 0 #fff; color: #0027c9; }

        .container .main svg:first-of-type { display:block; width:35px; height:62px; top:15%; left:15%; }
        .container .main svg:nth-of-type(2) { width:52px; top:30%; left:30%; }
        .container .main svg:nth-of-type(3) { width:68px; top:13%; left:18%; }
        .container .main svg:nth-of-type(4) { width:114px; top:43%; left:32%; z-index:1; }
        .container .main svg:nth-of-type(5) { width:25px; top:37%; right:33%; }
        .container .main svg:nth-of-type(6) { width:53px; top:56%; right:18%; }
        .container .main svg:nth-of-type(7) { width:76px; bottom:19%; right:21%; }
        .container .main svg:last-of-type { display:block; width:34px; bottom:14%; right:15%; }
}