* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 0.052083334vw;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
  font-weight: 300;
  font-size: 16rem;
  color: #1a1a1a;
  letter-spacing: -0.01em;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
table,
tr,
th,
td,
a,
input,
span,
section,
article,
textarea,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

ul,
ol,
li {
  list-style: none;
}

img,
fieldset {
  border: none;
  vertical-align: top;
}

em {
  font-style: normal;
}

legend,
caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

textarea,
button {
  vertical-align: middle;
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
}

textarea {
  color: #222;
  resize: none;
  overflow-y: auto;
  -ms-overflow-style: auto;
}

select {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
  font-weight: 600;
  vertical-align: middle;
  letter-spacing: -0.75px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-shadow: none;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
  vertical-align: middle;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-shadow: none;
}

option {
  padding: 10px;
}

/* input[type="text"], input[type="password"] {outline: 0;} */
input[type=radio],
input[type=checkbox] {
  padding: 0;
  height: auto;
  font-size: 18px;
  border: 0;
  box-shadow: none;
}

input[type=text]::-ms-clear {
  display: none;
}
input::-moz-placeholder {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
}
input::placeholder {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
textarea::-moz-placeholder {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
}
textarea::placeholder {
  font-family: "CreatoDisplay", "Pretendard", sans-serif;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: none;
}
button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  position: relative;
}

@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CreatoDisplay";
  src: url(../fonts/CreatoDisplay-Bold.woff2) format("woff2"), url(../fonts/CreatoDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CreatoDisplay";
  src: url(../fonts/CreatoDisplay-Medium.woff2) format("woff2"), url(../fonts/CreatoDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CreatoDisplay";
  src: url(../fonts/CreatoDisplay-Regular.woff2) format("woff2"), url(../fonts/CreatoDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Miama";
  src: url(../fonts/Miama.woff2) format("woff2"), url(../fonts/Miama.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.btn-wrap .btn-link {
  position: relative;
  padding-bottom: 5rem;
}
.btn-wrap .btn-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}
.btn-wrap .btn-link:hover::after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
.btn-wrap .btn-link span {
  display: flex;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  font-size: 18rem;
  font-weight: 700;
  color: #000;
}
.btn-wrap .btn-link span::after {
  content: "";
  display: block;
  width: 20rem;
  height: 20rem;
  background: url("../../common/images/icon-arrow.svg") no-repeat center center/cover;
}
.btn-wrap .btn-link.wht::after {
  background: #fff;
}
.btn-wrap .btn-link.wht span {
  color: #fff;
}
.btn-wrap .btn-link.wht span::after {
  background: url("../../common/images/icon-arrow-w.svg") no-repeat center center/cover;
}
@media all and (max-width: 1024px) {
  .btn-wrap .btn-link span {
    font-size: 18rem;
  }
  .btn-wrap .btn-link span::after {
    width: 18rem;
    height: 18rem;
  }
}
@media all and (max-width: 600px) {
  .btn-wrap .btn-link span::after {
    width: 16rem;
    height: 16rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  mix-blend-mode: difference;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rem 0;
}
header .inner h1 a {
  padding: 0 20rem;
  font-size: 40rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
header .inner .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 48rem;
       column-gap: 48rem;
}
header .inner .gnb li a {
  position: relative;
  font-size: 20rem;
  color: #fff;
}
header .inner .gnb li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}
header .inner .gnb li a:hover::after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
@media all and (max-width: 1024px) {
  header .inner {
    padding: 15rem 24rem;
  }
  header .inner h1 a {
    padding: 0 12rem;
    font-size: 35rem;
  }
  header .inner .gnb {
    -moz-column-gap: 36rem;
         column-gap: 36rem;
  }
  header .inner .gnb li a {
    font-size: 16rem;
  }
}
@media all and (max-width: 600px) {
  header .inner {
    padding: 10rem 24rem;
  }
  header .inner h1 a {
    padding: 0 5rem;
    font-size: 30rem;
  }
  header .inner .gnb {
    -moz-column-gap: 24rem;
         column-gap: 24rem;
  }
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: -30rem;
  background-color: #222;
  text-align: center;
  color: #fff;
}
footer .inner {
  padding: 130rem 0 100rem;
}
footer .inner br {
  display: none;
}
footer .inner .email {
  position: relative;
  margin: 25rem auto 20rem;
  padding: 0 20rem;
  font-size: 80rem;
  overflow: hidden;
}
footer .inner .email::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  mix-blend-mode: difference;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
footer .inner .email:hover::after {
  top: 0;
}
footer .inner .btn-link {
  margin: 0 auto;
}
footer .inner .btn-link span {
  font-size: 20rem;
  font-weight: 500;
}
footer .inner .copy-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60rem;
}
footer .inner .copy-wrap p {
  display: flex;
  align-items: center;
  font-size: 14rem;
  color: #555;
}
footer .inner .copy-wrap p + p::before {
  content: "";
  display: block;
  width: 1px;
  height: 12rem;
  margin: 0 10rem;
  background-color: #555;
}
@media all and (max-width: 1024px) {
  footer .inner {
    padding: 130rem 24rem 100rem;
  }
  footer .inner > p:first-of-type {
    font-size: 14rem;
  }
  footer .inner .email {
    margin: 20rem auto 10rem;
    padding: 0 10rem;
    font-size: 60rem;
  }
  footer .inner .btn-link {
    margin: 0 auto;
  }
  footer .inner .btn-link span {
    font-size: 18rem;
  }
  footer .inner .copy-wrap {
    flex-direction: column;
    row-gap: 5rem;
    margin-top: 40rem;
  }
  footer .inner .copy-wrap p + p::before {
    display: none;
  }
}
@media all and (max-width: 600px) {
  footer .inner {
    padding: 100rem 24rem 70rem;
  }
  footer .inner br {
    display: block;
  }
  footer .inner .email {
    margin: 15rem 0 10rem;
    font-size: 32rem;
  }
  footer .inner .btn-link {
    margin: 0 auto;
  }
  footer .inner .btn-link span {
    font-size: 16rem;
  }
  footer .inner .copy-wrap {
    margin-top: 30rem;
  }
  footer .inner .copy-wrap p {
    font-size: 12rem;
  }
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1760rem;
  margin: 0 auto;
}
@media all and (max-width: 1024px) {
  .inner {
    max-width: initial;
    padding: 0 24rem;
  }
}

.cont {
  position: relative;
  z-index: 1;
  background-color: #f1f0ec;
  border-radius: 0 0 30rem 30rem;
  box-shadow: 0 0 100rem 10rem rgba(0, 0, 0, 0.9);
}

@media all and (max-width: 1024px) {
  html {
    font-size: 0.09765625vw;
  }
}
@media all and (max-width: 600px) {
  html {
    font-size: 0.256vw;
  }
}
html,
body {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -4%;
  background-color: #f1f0ec;
}

a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  display: block;
}

::-moz-selection {
  background-color: #a1f3db;
  color: #1a1a1a;
}

::selection {
  background-color: #a1f3db;
  color: #1a1a1a;
}

.miama {
  font-family: "Miama";
}

.scrl-motion {
  transform: translateY(70rem);
  opacity: 0;
}

.skip-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100%;
  z-index: 20;
  width: 100%;
  height: 50rem;
  background-color: #222;
  color: #fff;
  text-align: center;
}
.skip-nav:focus {
  top: 0;
}

.dot-txt li {
  position: relative;
  padding-left: 25rem;
}
.dot-txt li::before {
  content: "";
  display: block;
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 4rem;
  height: 4rem;
  background-color: #1a1a1a;
  border-radius: 50%;
}
.dot-txt li + li {
  margin-top: 5rem;
}
.dot-txt li .dot-txt {
  margin-top: 5rem;
}

#cBody {
  position: relative;
}
#cBody > .btn-wrap:has(.top) {
  position: absolute;
  right: 20rem;
  bottom: 20rem;
  z-index: 1;
  transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#cBody > .btn-wrap:has(.top).fixed {
  position: fixed;
}
#cBody > .btn-wrap:has(.top).active {
  transform: translateY(0);
  opacity: 1;
}
#cBody > .btn-wrap:has(.top) .top {
  width: 50rem;
  height: 50rem;
  background: url("../../common/images/icon-arrow-top.svg") no-repeat center center/cover;
}
@media all and (max-width: 1024px) {
  #cBody > .btn-wrap:has(.top) {
    right: 24rem;
    bottom: 24rem;
  }
  #cBody > .btn-wrap:has(.top) .top {
    width: 40rem;
    height: 40rem;
  }
}
@media all and (max-width: 600px) {
  #cBody > .btn-wrap:has(.top) .top {
    width: 30rem;
    height: 30rem;
  }
}

.main .cont .tit-wrap {
  color: #000;
}
.main .cont .tit-wrap .tit {
  font-size: 128rem;
  font-weight: 400;
  line-height: 1;
}
.main .cont .tit-wrap .tit .miama {
  font-size: 256rem;
  line-height: 0;
  letter-spacing: -2%;
}
.main .cont .tit-wrap .sub-tit {
  margin-top: 20rem;
  font-size: 20rem;
  line-height: 150%;
  color: #1a1a1a;
}
.main .cont .kv {
  height: 100vh;
}
.main .cont .kv .inner {
  height: 100%;
}
.main .cont .kv .inner .tit-wrap {
  position: absolute;
  bottom: 106rem;
  left: 0;
}
.main .cont .kv .inner .tit-wrap .badge {
  position: relative;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25rem;
  padding: 10rem 20rem;
  border-radius: 999rem;
  border: 1px solid #555;
  transform: translateY(70rem);
  opacity: 0;
}
.main .cont .kv .inner .tit-wrap .badge span {
  display: flex;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  font-size: 40rem;
  line-height: 120%;
  color: #555;
}
.main .cont .kv .inner .tit-wrap .badge span::before {
  content: "";
  display: block;
  width: 40rem;
  height: 40rem;
  background: url("../../common/images/icon-folder.svg") no-repeat center center/cover;
}
.main .cont .kv .inner .tit-wrap .tit span {
  display: inline-block;
  transform: translateY(100rem);
  opacity: 0;
}
.main .cont .about {
  margin: 100rem 0;
  padding-top: 100rem;
}
.main .cont .about .inner .desc-wrap {
  margin-top: 250rem;
}
.main .cont .about .inner .desc-wrap .photo-area {
  position: relative;
  width: 300rem;
  height: 325rem;
  margin-left: 896rem;
  background-color: #d9d9d9;
  cursor: pointer;
}
.main .cont .about .inner .desc-wrap .photo-area .comment-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 280rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5rem 10rem;
  background-color: #fff;
  box-shadow: 7rem 5rem 24rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 999rem;
  transform: translateY(-50%);
}
.main .cont .about .inner .desc-wrap .photo-area .comment-box p {
  font-size: 18rem;
  overflow: hidden;
}
.main .cont .about .inner .desc-wrap .photo-area .comment-box p:last-of-type {
  width: 0;
  white-space: nowrap;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main .cont .about .inner .desc-wrap .photo-area .comment-box p:last-of-type span {
  margin-left: 7rem;
}
.main .cont .about .inner .desc-wrap .photo-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .cont .about .inner .desc-wrap .photo-area:hover .comment-box p:last-of-type {
  width: 100rem;
}
.main .cont .about .inner .desc-wrap hr {
  width: 0;
  margin: 25rem 0;
  border: none;
  border-top: 1px solid #1a1a1a;
}
.main .cont .about .inner .desc-wrap .txt-area {
  display: flex;
  justify-content: space-between;
}
.main .cont .about .inner .desc-wrap .txt-area > div {
  width: calc((100% - 32rem) / 2);
}
.main .cont .about .inner .desc-wrap .txt-area > div.left p + p {
  margin-top: 15rem;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right {
  display: flex;
  justify-content: space-between;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div {
  width: calc((100% - 32rem) / 2);
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div .tit {
  margin-bottom: 15rem;
  font-size: 18rem;
  font-weight: 700;
  color: #000;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div .co-name {
  margin-bottom: 5rem;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div .period {
  display: inline-block;
  width: 120rem;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div .notice {
  margin-top: 10rem;
  font-size: 14rem;
  color: #555;
}
.main .cont .about .inner .desc-wrap .txt-area > div.right > div .btn-wrap {
  margin-top: 50rem;
}
.main .cont .w-archive {
  padding-top: 100rem;
}
.main .cont .w-archive .inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 200rem;
}
.main .cont .w-archive .inner .tit-wrap {
  position: sticky;
  top: 106rem;
  left: 0;
}
.main .cont .w-archive .inner .w-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  -moz-column-gap: 35rem;
       column-gap: 35rem;
  row-gap: 32rem;
  width: 1012rem;
}
.main .cont .w-archive .inner .w-list .w-item .thumb-area {
  position: relative;
  width: 100%;
  height: 306rem;
  margin-bottom: 15rem;
  border-radius: 16rem;
  overflow: hidden;
}
.main .cont .w-archive .inner .w-list .w-item .thumb-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main .cont .w-archive .inner .w-list .w-item .desc-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .cont .w-archive .inner .w-list .w-item .desc-area .w-tit {
  font-size: 18rem;
  font-weight: 500;
  color: #000;
}
.main .cont .w-archive .inner .w-list .w-item .desc-area .tag-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.main .cont .w-archive .inner .w-list .w-item .desc-area .tag-list li {
  font-size: 14rem;
  color: #828282;
}
.main .cont .w-archive .inner .w-list .w-item .desc-area .tag-list li::before {
  content: "#";
}
.main .cont .w-archive .inner .w-list .w-item:hover .thumb-area img {
  transform: scale(1.1);
}
@media all and (max-width: 1024px) {
  .main .cont .tit-wrap .tit {
    font-size: 105rem;
  }
  .main .cont .tit-wrap .tit .miama {
    font-size: 220rem;
  }
  .main .cont .tit-wrap .sub-tit {
    margin-top: 15rem;
    font-size: 18rem;
  }
  .main .cont .kv .inner .tit-wrap {
    width: calc(100% - 48rem);
    bottom: 24rem;
    left: 24rem;
  }
  .main .cont .kv .inner .tit-wrap .badge {
    margin-bottom: 20rem;
    padding: 10rem 20rem;
  }
  .main .cont .kv .inner .tit-wrap .badge span {
    font-size: 30rem;
  }
  .main .cont .kv .inner .tit-wrap .badge span::before {
    width: 33rem;
    height: 33rem;
  }
  .main .cont .about .inner .desc-wrap {
    margin-top: 150rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area {
    width: 300rem;
    margin-left: 0;
  }
  .main .cont .about .inner .desc-wrap .photo-area .comment-box p {
    font-size: 16rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area:hover .comment-box p:last-of-type {
    width: 95rem;
  }
  .main .cont .about .inner .desc-wrap .txt-area > div {
    width: calc((100% - 24rem) / 2);
  }
  .main .cont .about .inner .desc-wrap .txt-area > div.right {
    flex-direction: column;
    row-gap: 24rem;
  }
  .main .cont .about .inner .desc-wrap .txt-area > div.right > div {
    width: 100%;
  }
  .main .cont .w-archive .inner {
    flex-direction: column;
    row-gap: 100rem;
    padding-bottom: 100rem;
  }
  .main .cont .w-archive .inner .tit-wrap {
    position: initial;
  }
  .main .cont .w-archive .inner .w-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    -moz-column-gap: 24rem;
         column-gap: 24rem;
    row-gap: 24rem;
    width: 100%;
  }
  .main .cont .w-archive .inner .w-list .w-item {
    width: 100%;
  }
  .main .cont .w-archive .inner .w-list .w-item .thumb-area {
    width: 100%;
    height: 300rem;
    margin-bottom: 10rem;
  }
}
@media all and (max-width: 600px) {
  .main .cont .tit-wrap .tit {
    font-size: 90rem;
  }
  .main .cont .tit-wrap .tit .miama {
    font-size: 190rem;
  }
  .main .cont .kv .inner .tit-wrap {
    bottom: 24rem;
    left: 24rem;
  }
  .main .cont .kv .inner .tit-wrap .badge {
    margin-bottom: 15rem;
    padding: 7rem 15rem;
  }
  .main .cont .kv .inner .tit-wrap .badge span {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    font-size: 20rem;
  }
  .main .cont .kv .inner .tit-wrap .badge span::before {
    width: 24rem;
    height: 24rem;
  }
  .main .cont .about .inner .desc-wrap {
    margin-top: 100rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area {
    width: 100%;
    height: 400rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area .comment-box {
    left: -18rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area .comment-box p {
    font-size: 16rem;
  }
  .main .cont .about .inner .desc-wrap .photo-area:hover .comment-box p:last-of-type {
    width: 85rem;
  }
  .main .cont .about .inner .desc-wrap .txt-area {
    flex-direction: column;
    row-gap: 50rem;
  }
  .main .cont .about .inner .desc-wrap .txt-area > div {
    width: 100%;
  }
  .main .cont .about .inner .desc-wrap .txt-area > div.left p + p {
    margin-top: 10rem;
  }
  .main .cont .w-archive .inner .w-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 24rem;
  }
  .main .cont .w-archive .inner .w-list .w-item .thumb-area {
    height: 200rem;
  }
}

.work .w-header {
  padding-top: 170rem;
}
.work .w-header .w-header-wrap {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 15rem;
       column-gap: 15rem;
}
.work .w-header .w-header-wrap .w-header-tit {
  font-size: 80rem;
  font-weight: 500;
  color: #000;
}
.work .w-header .w-header-wrap .w-header-desc {
  display: flex;
  align-items: center;
  margin-bottom: 19rem;
}
.work .w-header .w-header-wrap .w-header-desc p {
  font-size: 20rem;
  color: #555;
}
.work .w-header .w-header-wrap .w-header-desc p.co-name {
  display: flex;
  align-items: center;
}
.work .w-header .w-header-wrap .w-header-desc p.co-name::after {
  content: "";
  display: block;
  width: 1px;
  height: 20rem;
  margin: 0 10rem;
  background-color: #555;
}
.work .w-header hr {
  width: 0;
  margin: 15rem 0 30rem;
  border: none;
  border-top: 1px solid #1a1a1a;
}
.work .w-header .w-desc-wrap {
  display: flex;
  -moz-column-gap: 32rem;
       column-gap: 32rem;
}
.work .w-header .w-desc-wrap .w-desc-area .w-desc-tit {
  margin-bottom: 15rem;
  font-size: 18rem;
  font-weight: 700;
  color: #000;
}
.work .w-header .w-desc-wrap .w-desc-area .w-desc-box p + p {
  margin-top: 10rem;
}
.work .w-header .w-desc-wrap .w-desc-area .btn-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 30rem;
       column-gap: 30rem;
  margin-top: 40rem;
}
.work .w-header .w-desc-wrap .w-desc-area .notice {
  margin-top: 40rem;
  font-size: 18rem;
  font-weight: 700;
}
.work .w-header .w-desc-wrap .w-desc-area.overview {
  width: 864rem;
}
.work .w-header .w-desc-wrap .w-desc-area.detail {
  width: 416rem;
}
.work .w-detail {
  margin-top: 120rem;
}
.work .w-detail .screenshot-wrap img {
  width: 100%;
  max-width: 1454rem;
  margin: 0 auto;
}
.work .w-detail .txt-wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  -moz-column-gap: 32rem;
       column-gap: 32rem;
  row-gap: 120rem;
  margin-top: 120rem;
}
.work .w-detail .txt-wrap .txt-area .img-box {
  width: 100%;
  height: 440rem;
  margin-bottom: 120rem;
  border-radius: 16rem;
  box-shadow: 7rem 9rem 24rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.work .w-detail .txt-wrap .txt-area .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.work .w-detail .txt-wrap .txt-area .tit {
  margin-bottom: 25rem;
  font-size: 24rem;
  font-weight: 700;
  color: #000;
}
.work .w-detail .txt-wrap .txt-area .desc p {
  margin-top: 15rem;
}
.work .w-detail .txt-wrap .txt-area .desc p:first-of-type {
  margin-top: 0;
}
.work .w-detail .txt-wrap .txt-area .desc .btn-wrap {
  margin-top: 15rem;
}
.work .w-detail .detail-notice {
  margin-bottom: 45rem;
  font-size: 20rem;
  font-weight: 700;
  color: #000;
}
.work .w-detail .maint-wrap {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  -moz-column-gap: 32rem;
       column-gap: 32rem;
  row-gap: 100rem;
}
.work .w-detail .maint-wrap .maint-item {
  width: 100%;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .maint-wrap .maint-item.disabled {
  cursor: initial;
  pointer-events: none;
}
.work .w-detail .maint-wrap .maint-item .thumb-area {
  width: 100%;
  height: 200rem;
  background-color: #fff;
  border-radius: 8rem;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .maint-wrap .maint-item .thumb-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .maint-wrap .maint-item .tit {
  width: -moz-fit-content;
  width: fit-content;
  margin: 15rem auto 0;
  font-size: 18rem;
  font-weight: 500;
  text-align: center;
}
.work .w-detail .maint-wrap .maint-item .badge {
  width: -moz-fit-content;
  width: fit-content;
  margin: 7rem auto 0;
  padding: 5rem 10rem;
  background-color: #555;
  border-radius: 999rem;
  font-size: 14rem;
  color: #fff;
}
.work .w-detail .maint-wrap .maint-item .desc {
  margin-top: 5rem;
  font-size: 14rem;
  color: #555;
  text-align: center;
}
.work .w-detail .maint-wrap .maint-item:not(.disabled) .tit {
  display: flex;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
.work .w-detail .maint-wrap .maint-item:not(.disabled) .tit::after {
  content: "";
  display: block;
  width: 16rem;
  height: 16rem;
  background: url("../../common/images/icon-arrow-line.svg") no-repeat center center/cover;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .maint-wrap .maint-item:not(.disabled):hover {
  transform: translateY(-20rem);
}
.work .w-detail .maint-wrap .maint-item:not(.disabled):hover .thumb-area {
  box-shadow: 7rem 9rem 24rem 0 rgba(0, 0, 0, 0.1);
}
.work .w-detail .maint-wrap .maint-item:not(.disabled):hover .thumb-area img {
  transform: scale(1.1);
}
.work .w-detail .maint-wrap .maint-item:not(.disabled):hover .tit::after {
  transform: rotate(45deg);
}
.work .w-detail .prop-wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.work .w-detail .prop-wrap .prop-item {
  padding: 30rem 0;
  border-bottom: 1px solid #cdcdcd;
}
.work .w-detail .prop-wrap .prop-item:first-child, .work .w-detail .prop-wrap .prop-item:nth-child(2) {
  padding-top: 0;
}
.work .w-detail .prop-wrap .prop-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.work .w-detail .prop-wrap .prop-item .tit {
  margin-bottom: 15rem;
  font-size: 32rem;
  font-weight: 500;
  color: #000;
}
.work .w-detail .prop-wrap .prop-item .btn-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn {
  padding: 7rem 20rem;
  border: 1px solid #1a1a1a;
  border-radius: 999rem;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  font-size: 18rem;
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span::after {
  content: "";
  display: block;
  width: 14rem;
  height: 14rem;
  background: url("../../common/images/icon-arrow-line.svg") no-repeat center center/cover;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn:hover {
  background-color: #1a1a1a;
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn:hover span {
  color: #fff;
}
.work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn:hover span::after {
  background: url("../../common/images/icon-arrow-line-w.svg") no-repeat center center/cover;
  transform: rotate(45deg);
}
.work .w-nav {
  padding: 120rem 0;
  border-radius: 0 0 30rem 30rem;
  overflow: hidden;
}
.work .w-nav .inner hr {
  width: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #1a1a1a;
}
.work .w-nav .inner .w-nav-wrap {
  display: flex;
  margin-top: 30rem;
}
.work .w-nav .inner .w-nav-wrap > div .w-nav-label {
  margin-bottom: 10rem;
  font-weight: 500;
  color: #555;
}
.work .w-nav .inner .w-nav-wrap > div .w-nav-btn {
  display: flex;
  align-items: center;
}
.work .w-nav .inner .w-nav-wrap > div .w-nav-btn span {
  font-size: 40rem;
  font-weight: 500;
  color: #000;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn::before {
  content: "";
  display: block;
  width: 0;
  height: 50rem;
  background: url("../../common/images/icon-arrow-nav.svg") no-repeat center center/cover;
  transform: rotate(180deg);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn:hover::before {
  width: 50rem;
  opacity: 1;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-next {
  margin-left: auto;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-label {
  text-align: right;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn {
  margin-left: auto;
  text-align: right;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 50rem;
  background: url("../../common/images/icon-arrow-nav.svg") no-repeat center center/cover;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
.work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn:hover::after {
  width: 50rem;
  opacity: 1;
}
@media all and (max-width: 1024px) {
  .work .w-header {
    padding-top: 150rem;
  }
  .work .w-header .w-header-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .work .w-header .w-header-wrap .w-header-tit {
    width: 100%;
    font-size: 50rem;
  }
  .work .w-header .w-header-wrap .w-header-desc {
    margin-bottom: 0;
  }
  .work .w-header .w-header-wrap .w-header-desc p {
    font-size: 18rem;
  }
  .work .w-header hr {
    margin: 30rem 0;
  }
  .work .w-header .w-desc-wrap {
    flex-wrap: wrap;
    gap: 50rem 24rem;
  }
  .work .w-header .w-desc-wrap .w-desc-area {
    width: calc((100% - 24rem) / 2);
  }
  .work .w-header .w-desc-wrap .w-desc-area.overview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .work .w-header .w-desc-wrap .w-desc-area.overview .w-desc-tit {
    order: 2;
  }
  .work .w-header .w-desc-wrap .w-desc-area.overview .w-desc-box {
    order: 3;
  }
  .work .w-header .w-desc-wrap .w-desc-area.overview .btn-wrap,
  .work .w-header .w-desc-wrap .w-desc-area.overview .notice {
    order: 1;
    margin: 0 0 50rem;
  }
  .work .w-header .w-desc-wrap .w-desc-area.detail {
    width: 100%;
  }
  .work .w-detail {
    margin-top: 100rem;
  }
  .work .w-detail .screenshot-wrap img {
    max-width: initial;
  }
  .work .w-detail .txt-wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    -moz-column-gap: 24rem;
         column-gap: 24rem;
    row-gap: 100rem;
    margin-top: 100rem;
  }
  .work .w-detail .txt-wrap .txt-area .img-box {
    height: 250rem;
    margin-bottom: 100rem;
  }
  .work .w-detail .txt-wrap .txt-area .tit {
    margin-bottom: 15rem;
    font-size: 20rem;
  }
  .work .w-detail .txt-wrap .txt-area .desc p {
    margin-top: 10rem;
  }
  .work .w-detail .txt-wrap .txt-area .desc .btn-wrap {
    margin-top: 10rem;
  }
  .work .w-detail .detail-notice {
    margin-bottom: 30rem;
    font-size: 18rem;
  }
  .work .w-detail .maint-wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    -moz-column-gap: 24rem;
         column-gap: 24rem;
    row-gap: 60rem;
  }
  .work .w-detail .maint-wrap .maint-item .thumb-area {
    height: 150rem;
  }
  .work .w-detail .prop-wrap {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .work .w-detail .prop-wrap .prop-item {
    padding: 20rem 0;
  }
  .work .w-detail .prop-wrap .prop-item:nth-child(2) {
    padding-top: 20rem;
  }
  .work .w-detail .prop-wrap .prop-item .tit {
    margin-bottom: 10rem;
    font-size: 25rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn {
    padding: 5rem 15rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span {
    font-size: 16rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span::after {
    width: 12rem;
    height: 12rem;
  }
  .work .w-nav {
    padding: 100rem 0;
  }
  .work .w-nav .inner .w-nav-wrap {
    display: flex;
    margin-top: 30rem;
  }
  .work .w-nav .inner .w-nav-wrap > div {
    width: 50%;
  }
  .work .w-nav .inner .w-nav-wrap > div .w-nav-btn span {
    font-size: 30rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn::before {
    height: 40rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn:hover::before {
    width: 40rem;
    opacity: 1;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn::after {
    height: 40rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn:hover::after {
    width: 40rem;
  }
}
@media all and (max-width: 600px) {
  .work .w-header {
    padding-top: 100rem;
  }
  .work .w-header .w-header-wrap {
    row-gap: 10rem;
  }
  .work .w-header .w-header-wrap .w-header-tit {
    font-size: 40rem;
    line-height: 1.2;
  }
  .work .w-header .w-header-wrap .w-header-desc {
    margin-bottom: 0;
  }
  .work .w-header .w-header-wrap .w-header-desc p {
    font-size: 18rem;
  }
  .work .w-header hr {
    margin: 30rem 0;
  }
  .work .w-header .w-desc-wrap {
    flex-wrap: wrap;
    gap: 40rem 0;
  }
  .work .w-header .w-desc-wrap .w-desc-area.overview .btn-wrap,
  .work .w-header .w-desc-wrap .w-desc-area.overview .notice {
    margin-bottom: 40rem;
  }
  .work .w-detail {
    margin-top: 80rem;
  }
  .work .w-detail .txt-wrap {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 40rem;
    margin-top: 80rem;
  }
  .work .w-detail .txt-wrap .txt-area .img-box {
    width: 100%;
    height: 200rem;
    margin-bottom: 40rem;
  }
  .work .w-detail .txt-wrap .txt-area .tit {
    font-size: 18rem;
  }
  .work .w-detail .detail-notice {
    margin-bottom: 20rem;
  }
  .work .w-detail .maint-wrap {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 30rem;
  }
  .work .w-detail .maint-wrap .maint-item .tit {
    font-size: 16rem;
  }
  .work .w-detail .maint-wrap .maint-item .tit::after {
    width: 14rem;
    height: 14rem;
  }
  .work .w-detail .maint-wrap .maint-item .badge {
    font-size: 12rem;
  }
  .work .w-detail .maint-wrap .maint-item:not(.disabled):hover {
    transform: translateY(0);
  }
  .work .w-detail .prop-wrap .prop-item {
    padding: 17rem 0;
  }
  .work .w-detail .prop-wrap .prop-item:nth-child(2) {
    padding-top: 17rem;
  }
  .work .w-detail .prop-wrap .prop-item .tit {
    font-size: 20rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn {
    padding: 5rem 10rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span {
    font-size: 14rem;
  }
  .work .w-detail .prop-wrap .prop-item .btn-wrap .prop-btn span::after {
    width: 10rem;
    height: 10rem;
  }
  .work .w-nav {
    padding: 80rem 0;
  }
  .work .w-nav .inner .w-nav-wrap {
    flex-direction: column;
    row-gap: 24rem;
    margin-top: 30rem;
  }
  .work .w-nav .inner .w-nav-wrap > div {
    width: 100%;
  }
  .work .w-nav .inner .w-nav-wrap > div .w-nav-label {
    margin-bottom: 5rem;
  }
  .work .w-nav .inner .w-nav-wrap > div .w-nav-btn span {
    font-size: 25rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn::before {
    height: 35rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-prev .w-nav-btn:hover::before {
    width: 35rem;
    opacity: 1;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn::after {
    height: 35rem;
  }
  .work .w-nav .inner .w-nav-wrap > div.w-nav-next .w-nav-btn:hover::after {
    width: 35rem;
  }
}/*# sourceMappingURL=index.css.map */