// background color
$bg-color: #f1f0ec;

// grayscale color
$gray-00: #fff;
$gray-10: #555;
$gray-20: #222;
$gray-30: #1a1a1a;
$gray-100: #000000;

// text color
$text-white: #fff;
$text-low: #828282;
$text-medium: #555;
$text-high: #1a1a1a;
$text-black: #000;

// easing
$custom-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
