// color
$bg-color: #f1f0ec;
$point-color: #a1f3db;

// grayscale color
$gray-00: #fff;
$gray-10: #cdcdcd;
$gray-20: #555;
$gray-30: #222;
$gray-40: #1a1a1a;
$gray-200: #000;

// font weight
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;

// text color
$text-white: #fff;
$text-low: #828282;
$text-medium: #555;
$text-high: #1a1a1a;
$text-black: #000;

// easing
$custom-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
