@charset "utf-8";

html, body { height:100%; }
body { margin:0; padding:0; font-family:'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:300; letter-spacing:-1px; }
ul, li { list-style:none; margin:0; padding:0; }

/*** Mobile ***/
.container { width:100%; height:100%; display:flex; flex-direction:column; justify-content:space-between; position:relative; }

    /** Mobile header **/
    .container header { position:fixed; z-index:9999; width:100%; height:81px; padding:27px 4%; box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; background:url(../../images/line2.png) no-repeat 55% 50%; background-color:#fff; background-size:52% 3px; }
        .container header.none { background:none; }

        /* logo */
        .container header h1 { width:60px; height:30px; margin:0; background:url(../../images/logoM2.png) no-repeat 50% 50%; background-size:cover; }
        .container header h1.none { background:none; }
        .container header h1 a { display:block; width:100%; height:100%; }
        
        /* mobile navigation icon */
        .container header .menu-wrapper { width:39px; height: 39px; background-color:#0027c9; border-radius:50%; cursor: pointer; display:flex; justify-content:center; align-items:center; }
        .container header .menu-wrapper.visible { z-index:9999; }

        .container header .menu-wrapper .hamburger-menu, .container header .menu-wrapper .hamburger-menu:after, .container header .menu-wrapper .hamburger-menu:before { width:22px; height:1px; border-radius:50px; margin:auto; }

        .container header .menu-wrapper .hamburger-menu { position:relative; background:white; transition: all 0ms 300ms; }
        .container header .menu-wrapper .hamburger-menu.animate { background: rgba(255, 255, 255, 0); }
        .container header .menu-wrapper .hamburger-menu:before { content: ""; position: absolute; left: 0; bottom:6px; background: white; transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu:after { content: ""; position: absolute; left: 0; top:6px; background: white; transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu.animate:after { background-color:white; top: 0; transform: rotate(45deg); transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
        .container header .menu-wrapper .hamburger-menu.animate:before { background-color:white; bottom: 0; transform: rotate(-45deg); transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

        /* PC navigation */
		.container header .PC_nav { display:none; }

    /** mobile navigation **/
    .container .menu { width:100%; height:100%; background-color:rgb(255, 255, 255); position:fixed; top:0; left:100%; z-index:999; display:flex; justify-content:center; align-items:center; transition:0.7s; }
    .container .menu.active { left:0; }
        .container .menu ul { width:100%; }
            .container .menu ul li { width:100%; margin-bottom:20px;  }
                .container .menu ul li a { display:block; width:280px; margin:0 auto; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-align:left; text-indent:35px; text-decoration:none; color:#0027c9; text-transform:capitalize; font-size:1.875em; background:url(../../images/menuIcon.png) no-repeat; background-size:16px; }


    /** Mobile main contents **/
    .container .main { border:1px solid #0027c9; border-top:none; margin:78px 4% 0; padding:0 4% 65px; box-sizing:border-box; }

        /* projects menu */
        .container .main .projects { margin:20px 0 35px 4%; }
            .container .main .projects li { height:40px; margin:5px 0; }
                .container .main .projects li a { line-height:40px; text-decoration:none; color:#0027c9; font-family:'Noto Sans KR', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-transform:capitalize; font-size:1.1em; font-weight:400; }
                .container .main .projects li:nth-child(2) a { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; }

                .container .main .projects li:first-child img { width:20px; margin-left:25px; transform:rotate(180deg); }
                .container .main .projects li:first-child img.rotate { transform:rotate(360deg); }

        /* notice */
        .container .main .notice { width:100%; }
            .container .main .notice div { font-weight:700; font-size:1.5em; border:2px solid #0027c9; color:#0027c9; width:30px; height:30px; border-radius:50%; line-height:30px; text-align:center; margin:0 auto; animation:float 3s cubic-bezier(0.250,0.460,0.450,0.940) infinite; }
            
            @keyframes float {
                from { transform: translate(0,  0px); }
                65%  { transform: translate(0, 15px); }
                to   { transform: translate(0,  0px); }    
            }

            .container .main .notice img { width:160px; display:block; margin:20px auto 0; }

            .container .main .notice h2 { font-weight:500; text-align:center; font-size:1.3em; line-height:1.6; }
                .container .main .notice h2 span { color:#0027c9; font-weight:700; }

            .container .main .notice p { text-align:center; margin:0 0 60px 0; }

            .container .main .notice a { display:block; width:260px; height:50px; margin:0 auto; line-height:50px; text-decoration:none; text-align:center; border:1px solid #0027c9; color:#0027c9; font-size:1.1em; font-weight:500; transition:0.2s; }
            .container .main .notice a:hover, .container .main .notice a:active { background-color:#0027c9; color:#fff; }
                .container .main .notice a:nth-of-type(2) { margin:20px auto; }


        /* extra */
        .container .main .wireframe, .container .main .reference, .container .main .concept, .container .main .style, .container .main .final, .container .main .fin { display:none; }


    /** Mobile footer **/
    .container footer { width:100%; padding:39px 0; }
    .container footer p { margin:0; text-align:center; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-size:0.563em; color:#0027c9; }
    .container footer .hidden { display:none; }



/*** Tablet ***/
@media (min-width:767px) {
    /** Tablet header **/
    .container header { padding:27px 5%; background:url(../../images/line2.png) no-repeat 60% 50%; background-color:#fff; background-size:55% 3px; }

    /* logo */
    .container header h1 { width:120px; height:17px; background:url(../../images/logoPC2.png) no-repeat 50% 50%; background-size:cover; }
    .container header h1 a { display:block; width:100%; height:100%; }

    /** Tablet footer **/
    .container footer p:first-of-type { display:none; }
    .container footer .hidden { display:block; }
}



@media (min-width:1440px) {
    /** PC header **/
    .container header { padding:27px 4%; background:url(../../images/line2.png) no-repeat 40% 50%; background-color:#fff; background-size:52% 3px; }

        /* logo */
        .container header h1 { width:160px; height:23px; background:url(../../images/logoPC2.png) no-repeat 50% 50%; }
        .container header h1 a { display:block; width:100%; height:100%; }

        /* mobile navigation icon */
        .container header .menu-wrapper { display:none; }

        /* PC navigation */
		.container header .PC_nav { width:22%; display:flex; justify-content:space-between; }
            .container header .PC_nav li { width:45%; }
                .container header .PC_nav li a { display:block; font-family:'RhodeMediumExtended',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; color:#0027c9; text-decoration:none; text-transform:capitalize; text-align:center; font-size:1.250em; padding:5px; transition:0.3s; }
                .container header li:hover a { background-color:#0027c9; color:#fff; }

        /** PC main contents **/
        .container .main { padding:0; }

            /* projects menu, notice */
            .container .main .projects, .container .main .notice { display:none; }

            /* extra */
            .container .main .wireframe, .container .main .reference, .container .main .concept, .container .main .style, .container .main .final, .container .main .fin { display:block; }

            /* wireframe */
            .container .main .wireframe { padding:8% 0; background-color:#f9fafb; text-align:center; }
                .container .main .wireframe > p:first-of-type, .container .main .wireframe > h2  { margin:0; line-height:1.6; }
                .container .main .wireframe > p:first-of-type { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; color:#00275d; font-size:1.8em; }
                .container .main .wireframe > h2 { margin-bottom:7%; font-size:3em; font-weight:900; }

                .container .main .wireframe img { width:1400px; margin-bottom:4%; }

                .container .main .wireframe > p:last-of-type { font-size:1.1em; margin-bottom:25px; }
                .container .main .wireframe a { display:block; margin:0 auto; width:350px; height:60px; line-height:60px; border:1px solid #00275d; color:#00275d; text-decoration:none; font-size:1.15em; font-weight:500; transition:0.2s; }
                .container .main .wireframe a:hover, .container .main .wireframe a:active { background-color:#00275d; color:#fff; }

            /* reference */
            .container .main .reference { margin:7% 0; }
                .container .main .reference > p, .container .main .reference > h2 { text-align:center; margin:0; line-height:1.6; }
                .container .main .reference > p { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; color:#00275d; font-size:1.8em; }
                .container .main .reference > h2 { margin-bottom:7%; font-size:3em; font-weight:900; }
                    .container .main .reference > h2 span { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; }

                    .container .main .reference .tap_menu { width:60%; margin:7% auto 0; position:relative; }
                        .container .main .reference .tap_menu li h2 { width:150px; height:65px; font-size:1.2em; font-weight:700; text-align:center; color:#00275d; border:1px solid #00275d; padding:20px 25px; box-sizing:border-box; border-radius:50px; transition:0.2s; cursor:pointer; } 
                        .container .main .reference .tap_menu li h2:hover, .container .main .reference .tap_menu li h2:active, .container .main .reference .tap_menu li.show h2 { background-color:#00275d; color:#fff; }

                    .container .main .reference .tap_menu #tap1 h2 { position:absolute; top:0; left:20%; }
                    .container .main .reference .tap_menu #tap2 h2 { position:absolute; top:0; left:50%; transform:translateX(-50%); } 
                    .container .main .reference .tap_menu #tap3 h2 { position:absolute; top:0; right:20%; } 

                    .container .main .reference .tap_menu li .txt_box { width:80%; margin:0 auto; padding-top:150px; font-size:1.1em; line-height:1.5; display:none; }
                        .container .main .reference .tap_menu #tap1 .txt_box { width:90%;  }
                    .container .main .reference .tap_menu li.show .txt_box { display:block; }
                        .container .main .reference .tap_menu li .txt_box > div:first-of-type { width:100%;  display:flex; justify-content:space-between; align-items:center; }
                            .container .main .reference .tap_menu li .txt_box > div:first-of-type img { width:200px; }
                            .container .main .reference .tap_menu li .txt_box > div:first-of-type > div { width:70%; }

                        .container .main .reference .tap_menu li .txt_box .good, .container .main .reference .tap_menu li .txt_box .bad { margin-top:65px; }
                            .container .main .reference .tap_menu li .txt_box .good { margin-left:5%; }
                            .container .main .reference .tap_menu li .txt_box .bad { text-align:right; margin-right:5%; }
                        .container .main .reference .tap_menu li .txt_box .good img, .container .main .reference .tap_menu li .txt_box .bad img { width:45px; }

            /* concept */
            .container .main .concept { padding:7% 0; background-color:#f9fafb; text-align:center; }
                .container .main .concept > p, .container .main .concept > h2 { margin:0; line-height:1.6; }
                .container .main .concept > p { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; color:#00275d; font-size:1.8em; }
                .container .main .concept > h2 { margin-bottom:7%; font-size:3em; font-weight:900; }
                    .container .main .concept > h2 span { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:900; }

                .container .main .concept > ul { display:flex; justify-content:center; align-items:flex-start; }
                    .container .main .concept > ul li:nth-child(2) { margin:0 7%; }

                    .container .main .concept > ul li p:first-of-type { width:170px; height:70px; line-height:70px; border-radius:50px; background-color:#00275d; color:#fff; font-weight:700; font-size:1.3em; }
                    .container .main .concept > ul li p:last-of-type { font-size:1.1em; line-height:1.6; color:#222; }
                        .container .main .concept > ul li p:last-of-type span { font-weight:500; }

            /* style */
            .container .main .style { margin:7% 0; }
                .container .main .style > p, .container .main .style > h2 { margin:0; line-height:1.6; text-align:center; }
                .container .main .style > p { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; color:#00275d; font-size:1.8em; }
                .container .main .style > h2 { margin-bottom:7%; font-size:3em; font-weight:900; }

                .container .main .style .txt_box { width:750px; margin:0 auto; }
                    
                    /* basic mobile */
                    .container .main .style .txt_box > h3 { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; color:#00275d; margin-bottom:50px; font-size:1.6em; }

                    .container .main .style .txt_box > p:first-of-type { font-size:1.1em; line-height:1.7; margin-bottom:110px; }
                        .container .main .style .txt_box > p:first-of-type span { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-size:1.15em; font-weight:500; }

                    /* color */
                    .container .main .style .txt_box > div:first-of-type { display:flex; font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:400; font-size:1.15em; margin-bottom:110px; }
                        .container .main .style .txt_box > div:first-of-type p { width:170px; height:170px; border-radius:50%; line-height:170px; text-align:center; margin:0; }
                        .container .main .style .txt_box > div:first-of-type p:first-of-type { background-color:#003473; color:#fff; margin-right:50px; }
                        .container .main .style .txt_box > div:first-of-type p:nth-of-type(2) { background-color:#b9b9b9; color:#fff; margin-right:10px; }
                        .container .main .style .txt_box > div:first-of-type p:nth-of-type(3) { background-color:#f9fafb; color:#222; box-shadow:10px 10px 10px rgba(0, 0, 0, 0.05); margin-right:10px; }
                        .container .main .style .txt_box > div:first-of-type p:last-of-type { background-color:#000; color:#fff; }

                    /* font */
                    .container .main .style .txt_box > p:nth-of-type(2) { font-size:1.3em; }
                    .container .main .style .txt_box > p:nth-of-type(3) { font-size:2em; margin-bottom:110px; }
                        .container .main .style .txt_box > p:nth-of-type(2) span, .container .main .style .txt_box > p:nth-of-type(3) span { font-weight:500; }
                        .container .main .style .txt_box > p:nth-of-type(2) em, .container .main .style .txt_box > p:nth-of-type(3) em { font-style:normal; font-weight:700; }

                    /* icongraphy */
                    .container .main .style .txt_box > .icon { background-size:cover; height:55px; }
                    .container .main .style .txt_box > #icon1 { margin-left:-20px; width:450px; background:url(../images/pj2_icon1.svg) no-repeat 0 50%; }
                    .container .main .style .txt_box > #icon2 { width:450px; background:url(../images/pj2_icon2.svg) no-repeat 0 50%; margin:50px 0 50px -20px; }
                    .container .main .style .txt_box > #icon3 { margin-left:-15px; width:670px; background:url(../images/pj2_icon3.svg) no-repeat 0 50%; }
                    
                        
            /* final */
            .container .main .final { padding:7% 0; text-align:center; height:1910px; box-sizing:border-box; background:#f9fafb url(../images/pj2_final.png) no-repeat 50% 100%; background-size:contain; }
                .container .main .final p, .container .main .final h2 { text-align:center; margin:0; line-height:1.6; }
                .container .main .final > p { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; color:#00275d; font-size:1.8em; }
                .container .main .final > h2 { margin-bottom:7%; font-size:3em; font-weight:900; }

            /* fin */
            .container .main .fin { padding:3% 0; background-color:#f9fafb; text-align:center; }

                /* review */
                .container .main .review { margin:3% 0 10%; }
                    .container .main .fin .review h4 { font-family:'Montserrat',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; font-size:1.8em; margin:0; margin-bottom:20px; color:#00275d; }
                    .container .main .fin .review p { font-size:1.1em; line-height:1.6; }

                    .container .main .fin > p { font-size:1.1em; }

                    .container .main .fin a { display:block; width:260px; height:50px; line-height:50px; margin:0 auto; text-decoration:none; font-size:1.1em; font-weight:500; transition:0.2s; }
                    .container .main .fin a:first-of-type, .container .main .fin a:nth-of-type(2) { border:1px solid #00275d; color:#00275d; }
                        .container .main .fin a:first-of-type { margin-top:25px; }
                        .container .main .fin a:nth-of-type(2) { margin-top:20px; }

                        .container .main .fin a:first-of-type:hover, .container .main .fin a:first-of-type:active, .container .main .fin a:nth-of-type(2):hover, .container .main .fin a:nth-of-type(2):active { background-color:#00275d; color:#fff; }

                    .container .main .fin a:last-of-type { border:1px solid #a0a0a0; color:#a0a0a0; margin:20px auto 3%; }
                    .container .main .fin a:last-of-type:hover, .container .main .fin a:last-of-type:active { background-color:#a0a0a0; color:#fff; }

                    .container .main .fin .bg { margin:0 auto; width:400px; height:300px; background:url(../images/pj2_fin.png) no-repeat 50% 50%; background-size:180px; position:relative; }
                        .container .main .fin .bg p { width:110px; height:40px; line-height:32px; color:#fff; position:absolute; background-size:cover; }
                            .container .main .fin .bg p:first-of-type { top:0; right:20px; background:url(../images/pj2_bubble_r.svg) no-repeat; animation:floating1 3s cubic-bezier(0.250,0.460,0.450,0.940) infinite; }
                            .container .main .fin .bg p:last-of-type { bottom:40px; left:0; background:url(../images/pj2_bubble_l.svg) no-repeat; animation:floating2 2.5s cubic-bezier(0.250,0.460,0.450,0.940) infinite; }

                    @keyframes floating1 {
                        from { transform: translate(0,  0px); }
                        65%  { transform: translate(0, 15px); }
                        to   { transform: translate(0,  0px); }    
                    }
            
                    @keyframes floating2 {
                        from { transform: translate(0, 0px); }
                        50% { transform: translate(0, 20px); }
                        to { transform: translate(0, 0px); }  
                    }


        /** PC footer**/
        .container footer { padding:51px 0; }
        .container footer .hidden { font-size:0.938em; }
}