footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: -30rem;
  background-color: $gray-30;
  text-align: center;
  color: $text-white;

  .inner {
    padding: 130rem 0 100rem;

    br {
      display: none;
    }

    .email {
      position: relative;
      margin: 25rem auto 20rem;
      padding: 0 20rem;
      font-size: 80rem;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $gray-00;
        mix-blend-mode: difference;
        transition: 0.5s $custom-ease;
      }

      &:hover {
        &::after {
          top: 0;
        }
      }
    }

    .btn-link {
      margin: 0 auto;

      span {
        font-size: 20rem;
        font-weight: $font-medium;
      }
    }

    .copy-wrap {
      @include flexCenter;
      margin-top: 60rem;

      p {
        display: flex;
        align-items: center;
        font-size: 14rem;
        color: $text-medium;

        & + p {
          &::before {
            content: "";
            display: block;
            width: 1px;
            height: 12rem;
            margin: 0 10rem;
            background-color: $gray-20;
          }
        }
      }
    }
  }

  @include tablet {
    .inner {
      padding: 130rem 24rem 100rem;

      > p:first-of-type {
        font-size: 14rem;
      }

      .email {
        margin: 20rem auto 10rem;
        padding: 0 10rem;
        font-size: 60rem;
      }

      .btn-link {
        margin: 0 auto;

        span {
          font-size: 18rem;
        }
      }

      .copy-wrap {
        flex-direction: column;
        row-gap: 5rem;
        margin-top: 40rem;

        p {
          & + p {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  @include mobile {
    .inner {
      padding: 100rem 24rem 70rem;

      br {
        display: block;
      }

      .email {
        margin: 15rem 0 10rem;
        font-size: 32rem;
      }

      .btn-link {
        margin: 0 auto;

        span {
          font-size: 16rem;
        }
      }

      .copy-wrap {
        margin-top: 30rem;

        p {
          font-size: 12rem;
        }
      }
    }
  }
}
