header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  mix-blend-mode: difference;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30rem 0;

    h1 {
      a {
        padding: 0 20rem;
        font-size: 40rem;
        font-weight: $font-regular;
        line-height: 1.5;
        color: $text-white;
      }
    }

    .gnb {
      @include flexCenter;
      column-gap: 48rem;

      li {
        a {
          position: relative;
          font-size: 20rem;
          color: $text-white;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: $gray-00;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            transition: transform 0.5s $custom-ease 0.1s;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: 0 50%;
            }
          }
        }
      }
    }
  }

  @include tablet {
    .inner {
      padding: 15rem 24rem;

      h1 {
        a {
          padding: 0 12rem;
          font-size: 35rem;
        }
      }

      .gnb {
        column-gap: 36rem;

        li {
          a {
            font-size: 16rem;
          }
        }
      }
    }
  }

  @include mobile {
    .inner {
      padding: 10rem 24rem;

      h1 {
        a {
          padding: 0 5rem;
          font-size: 30rem;
        }
      }

      .gnb {
        column-gap: 24rem;
      }
    }
  }
}
