// inner
.inner {
  position: relative;
  width: 100%;
  max-width: 1760rem;
  margin: 0 auto;

  @include tablet {
    max-width: initial;
    padding: 0 24rem;
  }
}

// cont
.cont {
  position: relative;
  z-index: 1;
  background-color: $bg-color;
  border-radius: 0 0 30rem 30rem;
}

// dot txt
.dot-txt {
  li {
    position: relative;
    padding-left: 25rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 10rem;
      left: 10rem;
      width: 4rem;
      height: 4rem;
      background-color: $text-high;
      border-radius: 50%;
    }

    & + li {
      margin-top: 5rem;
    }

    .dot-txt {
      margin-top: 5rem;
    }
  }
}
