// inner
.inner {
  position: relative;
  width: 100%;
  max-width: 1760rem;
  margin: 0 auto;

  @include tablet {
    max-width: initial;
    padding: 0 24rem;
  }
}

// cont
.cont {
  position: relative;
  z-index: 1;
  background-color: $bg-color;
  border-radius: 0 0 30rem 30rem;
  box-shadow: 0 0 100rem 10rem rgba($color: $gray-100, $alpha: 0.9);
}
