.btn-wrap {
  .btn-link {
    position: relative;
    padding-bottom: 5rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: $gray-200;
      transform: scaleX(0);
      transform-origin: 100% 50%;
      transition: transform 0.5s $custom-ease 0.1s;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: 0 50%;
      }
    }

    span {
      display: flex;
      align-items: center;
      column-gap: 7rem;
      font-size: 18rem;
      font-weight: $font-bold;
      color: $text-black;

      &::after {
        content: "";
        display: block;
        width: 20rem;
        height: 20rem;
        @include bg("../../common/images/icon-arrow.svg");
      }
    }

    &.wht {
      &::after {
        background: $gray-00;
      }

      span {
        color: $text-white;

        &::after {
          @include bg("../../common/images/icon-arrow-w.svg");
        }
      }
    }
  }

  @include tablet {
    .btn-link {
      span {
        font-size: 18rem;

        &::after {
          width: 18rem;
          height: 18rem;
        }
      }
    }
  }

  @include mobile {
    .btn-link {
      span {
        &::after {
          width: 16rem;
          height: 16rem;
        }
      }
    }
  }
}
