@mixin fontFace($family, $file, $weight) {
  @font-face {
    font-family: $family;
    src:
      url(../fonts/#{$file}.woff2) format("woff2"),
      url(../fonts/#{$file}.woff) format("woff");
    font-weight: $weight;
    font-style: normal;
  }
}

@include fontFace("CreatoDisplay", "CreatoDisplay-Bold", 700);
@include fontFace("CreatoDisplay", "CreatoDisplay-Medium", 500);
@include fontFace("CreatoDisplay", "CreatoDisplay-Regular", 400);
@include fontFace("Miama", "Miama", 400);
