// common
@include tablet {
  html {
    font-size: 0.13vw;
  }
}

@include mobile {
  html {
    font-size: 0.256vw;
  }
}

html,
body {
  font-weight: $font-regular;
  line-height: 1.5;
  letter-spacing: -4%;
  background-color: $bg-color;
}

a {
  display: block;
  width: fit-content;
}

img {
  display: block;
}

::selection {
  background-color: $point-color;
  color: $text-high;
}

.miama {
  font-family: "Miama";
}

.scrl-motion {
  transform: translateY(70rem);
  opacity: 0;
}

// skip navigation
.skip-nav {
  @include flexCenter;
  position: fixed;
  top: -100%;
  z-index: 20;
  width: 100%;
  height: 50rem;
  background-color: $gray-20;
  color: $text-white;
  text-align: center;

  &:focus {
    top: 0;
  }
}
