// common
@include tablet {
  html {
    font-size: 0.13vw;
  }
}

@include mobile {
  html {
    font-size: 0.256vw;
  }
}

html,
body {
  font-weight: $font-regular;
  line-height: 1.5;
  letter-spacing: -4%;
  background-color: $bg-color;
}

a {
  display: block;
  width: fit-content;
}

img {
  display: block;
}

::selection {
  background-color: $point-color;
  color: $text-high;
}

.miama {
  font-family: "Miama";
}

.scrl-motion {
  transform: translateY(70rem);
  opacity: 0;
}

.skip-nav {
  @include flexCenter;
  position: fixed;
  top: -100%;
  z-index: 20;
  width: 100%;
  height: 50rem;
  background-color: $gray-30;
  color: $text-white;
  text-align: center;

  &:focus {
    top: 0;
  }
}

.dot-txt {
  li {
    position: relative;
    padding-left: 25rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 10rem;
      left: 10rem;
      width: 4rem;
      height: 4rem;
      background-color: $text-high;
      border-radius: 50%;
    }

    & + li {
      margin-top: 5rem;
    }

    .dot-txt {
      margin-top: 5rem;
    }
  }
}

#cBody {
  position: relative;

  // top button
  > .btn-wrap:has(.top) {
    position: absolute;
    right: 20rem;
    bottom: 20rem;
    z-index: 1;
    transition: 0.7s $custom-ease;

    &.fixed {
      position: fixed;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
    }

    .top {
      width: 50rem;
      height: 50rem;
      @include bg("../../common/images/icon-arrow-top.svg");
    }
  }

  @include tablet {
    > .btn-wrap:has(.top) {
      right: 24rem;
      bottom: 24rem;

      .top {
        width: 40rem;
        height: 40rem;
      }
    }
  }

  @include mobile {
    > .btn-wrap:has(.top) {
      .top {
        width: 30rem;
        height: 30rem;
      }
    }
  }
}
