.main {
  // cont
  .cont {
    .tit-wrap {
      .tit {
        font-size: 128rem;
        font-weight: $font-regular;
        line-height: 1;

        .miama {
          font-size: 256rem;
          line-height: 0;
          letter-spacing: -2%;
        }
      }

      .sub-tit {
        margin-top: 20rem;
        font-size: 20rem;
        line-height: 150%;
      }
    }

    // kv
    .kv {
      height: 100vh;

      .inner {
        height: 100vh;

        .tit-wrap {
          position: absolute;
          bottom: 106rem;
          left: 0;

          .badge {
            width: fit-content;
            margin-bottom: 25rem;
            padding: 10rem 20rem;
            border-radius: 999rem;
            border: 1px solid $gray-10;

            span {
              font-size: 40rem;
              line-height: 120%;
              color: $text-medium;
            }
          }
        }
      }
    }

    // about
    .about {
      .inner {
        padding: 200rem 0;

        .desc-wrap {
          margin-top: 250rem;

          .photo-area {
            width: 300rem;
            height: 325rem;
            margin-left: 896rem;
            background-color: #d9d9d9;
          }

          .txt-area {
            display: flex;
            justify-content: space-between;
            margin-top: 25rem;
            padding-top: 25rem;
            border-top: 1px solid $gray-30;

            > div {
              width: calc((100% - 32rem) / 2);

              &.left p + p {
                margin-top: 15rem;
              }

              &.right {
                display: flex;
                justify-content: space-between;

                > div {
                  width: calc((100% - 32rem) / 2);

                  .tit {
                    margin-bottom: 15rem;
                    font-size: 18rem;
                    font-weight: $font-bold;
                  }

                  .co-name {
                    margin-bottom: 5rem;
                  }

                  .period {
                    display: inline-block;
                    width: 120rem;
                  }

                  .btn-wrap {
                    margin-top: 50rem;

                    a {
                      span {
                        font-size: 18rem;
                        font-weight: $font-bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // work archive
    .w-archive {
      border-radius: 0 0 30rem 30rem;

      .inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 200rem 0;

        .tit-wrap {
          position: sticky;
          top: 106rem;
          left: 0;
        }

        .w-list {
          @include grid;
          width: 1012rem;

          a {
            .thumb-area {
              position: relative;
              width: 100%;
              height: 306rem;
              margin-bottom: 15rem;
              border-radius: 16rem;
              overflow: hidden;

              img {
                // @include posCenter;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: 0.5s $custom-ease;
              }
            }

            .desc-area {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .w-tit {
                font-size: 18rem;
              }

              .tag-list {
                display: flex;
                align-items: center;
                column-gap: 5rem;

                li {
                  font-size: 14rem;
                  color: $text-low;

                  &::before {
                    content: "#";
                  }
                }
              }
            }

            &:hover {
              .thumb-area {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  }
}
