.work {
  // work header
  .w-header {
    padding-top: 170rem;

    .w-header-wrap {
      display: flex;
      align-items: flex-end;
      column-gap: 15rem;

      .w-header-tit {
        font-size: 80rem;
        font-weight: $font-medium;
        color: $text-black;
      }

      .w-header-desc {
        display: flex;
        align-items: center;
        margin-bottom: 19rem;

        p {
          font-size: 20rem;
          color: $text-medium;

          &.co-name {
            display: flex;
            align-items: center;

            &::after {
              content: "";
              display: block;
              width: 1px;
              height: 20rem;
              margin: 0 10rem;
              background-color: $gray-20;
            }
          }
        }
      }
    }

    hr {
      width: 0;
      margin: 15rem 0 30rem;
      border: none;
      border-top: 1px solid $gray-40;
    }

    .w-desc-wrap {
      display: flex;
      column-gap: 32rem;

      .w-desc-area {
        .w-desc-tit {
          margin-bottom: 15rem;
          font-size: 18rem;
          font-weight: $font-bold;
          color: $text-black;
        }

        .w-desc-box {
          p + p {
            margin-top: 10rem;
          }
        }

        .btn-wrap {
          display: flex;
          align-items: center;
          column-gap: 30rem;
          margin-top: 40rem;
        }

        .notice {
          margin-top: 40rem;
          font-size: 18rem;
          font-weight: $font-bold;
        }

        &.overview {
          width: 864rem;
        }

        &.detail {
          width: 416rem;
        }
      }
    }
  }

  // work detail
  .w-detail {
    margin-top: 120rem;

    .screenshot-wrap {
      img {
        width: 100%;
        max-width: 1454rem;
        margin: 0 auto;
      }
    }

    .txt-wrap {
      @include grid($colgap: 32rem, $rowgap: 120rem);
      margin-top: 120rem;

      .txt-area {
        .img-box {
          width: 100%;
          height: 440rem;
          margin-bottom: 120rem;
          border-radius: 16rem;
          box-shadow: 7rem 9rem 24rem 0 rgba($color: $gray-100, $alpha: 0.1);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .tit {
          margin-bottom: 25rem;
          font-size: 24rem;
          font-weight: $font-bold;
          color: $text-black;
        }

        .desc {
          p {
            margin-top: 15rem;

            &:first-of-type {
              margin-top: 0;
            }
          }

          .btn-wrap {
            margin-top: 15rem;
          }
        }
      }
    }

    .detail-notice {
      margin-bottom: 45rem;
      font-size: 20rem;
      font-weight: $font-bold;
      color: $text-black;
    }

    .maint-wrap {
      @include grid($col: 5, $colgap: 32rem, $rowgap: 100rem);

      .maint-item {
        width: 100%;
        transition: 0.5s $custom-ease;

        &.disabled {
          cursor: initial;
          pointer-events: none;
        }

        .thumb-area {
          width: 100%;
          height: 200rem;
          background-color: $gray-00;
          border-radius: 8rem;
          overflow: hidden;
          transition: 0.5s $custom-ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.5s $custom-ease;
          }
        }

        .tit {
          width: fit-content;
          margin: 15rem auto 0;
          font-size: 18rem;
          font-weight: $font-medium;
          text-align: center;
        }

        .badge {
          width: fit-content;
          margin: 7rem auto 0;
          padding: 5rem 10rem;
          background-color: $gray-20;
          border-radius: 999rem;
          font-size: 14rem;
          color: $text-white;
        }

        .desc {
          margin-top: 5rem;
          font-size: 14rem;
          color: $text-medium;
          text-align: center;
        }

        &:not(.disabled) {
          .tit {
            display: flex;
            align-items: center;
            column-gap: 7rem;

            &::after {
              content: "";
              display: block;
              width: 16rem;
              height: 16rem;
              @include bg("../../common/images/icon-arrow-line.svg");
              transition: 0.5s $custom-ease;
            }
          }

          &:hover {
            transform: translateY(-20rem);

            .thumb-area {
              box-shadow: 7rem 9rem 24rem 0 rgba($color: $gray-100, $alpha: 0.1);

              img {
                transform: scale(1.1);
              }
            }

            .tit {
              &::after {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }

    .prop-wrap {
      @include grid($col: 2, $colgap: 0, $rowgap: 0);

      .prop-item {
        padding: 30rem 0;
        border-bottom: 1px solid $gray-10;

        &:first-child,
        &:nth-child(2) {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        .tit {
          margin-bottom: 15rem;
          font-size: 32rem;
          font-weight: $font-medium;
          color: $text-black;
        }

        .btn-wrap {
          display: flex;
          align-items: center;
          column-gap: 10rem;

          .prop-btn {
            padding: 7rem 20rem;
            border: 1px solid $gray-40;
            border-radius: 999rem;
            transition: 0.5s $custom-ease;

            span {
              @include flexCenter;
              column-gap: 7rem;
              font-size: 18rem;

              &::after {
                content: "";
                display: block;
                width: 14rem;
                height: 14rem;
                @include bg("../../common/images/icon-arrow-line.svg");
                transition: 0.5s $custom-ease;
              }
            }

            &:hover {
              background-color: $gray-40;

              span {
                color: $text-white;

                &::after {
                  @include bg("../../common/images/icon-arrow-line-w.svg");
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }

  // work navigation
  .w-nav {
    padding: 120rem 0;
    border-radius: 0 0 30rem 30rem;
    overflow: hidden;

    .inner {
      hr {
        width: 0;
        margin: 0;
        border: none;
        border-top: 1px solid $gray-40;
      }

      .w-nav-wrap {
        display: flex;
        margin-top: 30rem;

        > div {
          .w-nav-label {
            margin-bottom: 10rem;
            font-weight: $font-medium;
            color: $text-medium;
          }

          .w-nav-btn {
            display: flex;
            align-items: center;

            span {
              font-size: 40rem;
              font-weight: $font-medium;
              color: $text-black;
            }
          }

          &.w-nav-prev {
            .w-nav-btn {
              &::before {
                content: "";
                display: block;
                width: 0;
                height: 50rem;
                @include bg("../../common/images/icon-arrow-nav.svg");
                transform: rotate(180deg);
                transition: 0.5s $custom-ease;
                opacity: 0;
              }

              &:hover {
                &::before {
                  width: 50rem;
                  opacity: 1;
                }
              }
            }
          }

          &.w-nav-next {
            margin-left: auto;

            .w-nav-label {
              text-align: right;
            }

            .w-nav-btn {
              margin-left: auto;
              text-align: right;

              &::after {
                content: "";
                display: block;
                width: 0;
                height: 50rem;
                @include bg("../../common/images/icon-arrow-nav.svg");
                transition: 0.5s $custom-ease;
                opacity: 0;
              }

              &:hover {
                &::after {
                  width: 50rem;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  // common
  @include tablet {
    // work header
    .w-header {
      padding-top: 150rem;

      .w-header-wrap {
        flex-direction: column;
        align-items: flex-start;

        .w-header-tit {
          width: 100%;
          font-size: 50rem;
        }

        .w-header-desc {
          margin-bottom: 0;

          p {
            font-size: 18rem;
          }
        }
      }

      hr {
        margin: 30rem 0;
      }

      .w-desc-wrap {
        flex-wrap: wrap;
        gap: 50rem 24rem;

        .w-desc-area {
          width: calc((100% - 24rem) / 2);

          &.overview {
            display: flex;
            flex-direction: column;
            width: 100%;

            .w-desc-tit {
              order: 2;
            }

            .w-desc-box {
              order: 3;
            }

            .btn-wrap,
            .notice {
              order: 1;
              margin: 0 0 50rem;
            }
          }

          &.detail {
            width: 100%;
          }
        }
      }
    }

    // work detail
    .w-detail {
      margin-top: 100rem;

      .screenshot-wrap {
        img {
          max-width: initial;
        }
      }

      .txt-wrap {
        @include grid($colgap: 24rem, $rowgap: 100rem);
        margin-top: 100rem;

        .txt-area {
          .img-box {
            height: 250rem;
            margin-bottom: 100rem;
          }

          .tit {
            margin-bottom: 15rem;
            font-size: 20rem;
          }

          .desc {
            p {
              margin-top: 10rem;
            }

            .btn-wrap {
              margin-top: 10rem;
            }
          }
        }
      }

      .detail-notice {
        margin-bottom: 30rem;
        font-size: 18rem;
      }

      .maint-wrap {
        @include grid($col: 3, $colgap: 24rem, $rowgap: 60rem);

        .maint-item {
          .thumb-area {
            height: 150rem;
          }
        }
      }

      .prop-wrap {
        @include grid($col: 1, $colgap: 0, $rowgap: 0);

        .prop-item {
          padding: 20rem 0;

          &:nth-child(2) {
            padding-top: 20rem;
          }

          .tit {
            margin-bottom: 10rem;
            font-size: 25rem;
          }

          .btn-wrap {
            .prop-btn {
              padding: 5rem 15rem;

              span {
                font-size: 16rem;

                &::after {
                  width: 12rem;
                  height: 12rem;
                }
              }
            }
          }
        }
      }
    }

    // work navigation
    .w-nav {
      padding: 100rem 0;

      .inner {
        .w-nav-wrap {
          display: flex;
          margin-top: 30rem;

          > div {
            width: 50%;

            .w-nav-btn {
              span {
                font-size: 30rem;
              }
            }

            &.w-nav-prev {
              .w-nav-btn {
                &::before {
                  height: 40rem;
                }

                &:hover {
                  &::before {
                    width: 40rem;
                    opacity: 1;
                  }
                }
              }
            }

            &.w-nav-next {
              .w-nav-btn {
                &::after {
                  height: 40rem;
                }

                &:hover {
                  &::after {
                    width: 40rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include mobile {
    // work header
    .w-header {
      padding-top: 100rem;

      .w-header-wrap {
        row-gap: 10rem;

        .w-header-tit {
          font-size: 40rem;
          line-height: 1.2;
        }

        .w-header-desc {
          margin-bottom: 0;

          p {
            font-size: 18rem;
          }
        }
      }

      hr {
        margin: 30rem 0;
      }

      .w-desc-wrap {
        flex-wrap: wrap;
        gap: 40rem 0;

        .w-desc-area {
          &.overview {
            .btn-wrap,
            .notice {
              margin-bottom: 40rem;
            }
          }
        }
      }
    }

    // work detail
    .w-detail {
      margin-top: 80rem;

      .txt-wrap {
        @include grid($col: 1, $colgap: 0, $rowgap: 40rem);
        margin-top: 80rem;

        .txt-area {
          .img-box {
            width: 100%;
            height: 200rem;
            margin-bottom: 40rem;
          }

          .tit {
            font-size: 18rem;
          }
        }
      }

      .detail-notice {
        margin-bottom: 20rem;
      }

      .maint-wrap {
        @include grid($col: 1, $colgap: 0, $rowgap: 30rem);

        .maint-item {
          .tit {
            font-size: 16rem;

            &::after {
              width: 14rem;
              height: 14rem;
            }
          }

          .badge {
            font-size: 12rem;
          }

          &:not(.disabled) {
            &:hover {
              transform: translateY(0);
            }
          }
        }
      }

      .prop-wrap {
        .prop-item {
          padding: 17rem 0;

          &:nth-child(2) {
            padding-top: 17rem;
          }

          .tit {
            font-size: 20rem;
          }

          .btn-wrap {
            .prop-btn {
              padding: 5rem 10rem;

              span {
                font-size: 14rem;

                &::after {
                  width: 10rem;
                  height: 10rem;
                }
              }
            }
          }
        }
      }
    }

    // work navigation
    .w-nav {
      padding: 80rem 0;

      .inner {
        .w-nav-wrap {
          flex-direction: column;
          row-gap: 24rem;
          margin-top: 30rem;

          > div {
            width: 100%;

            .w-nav-label {
              margin-bottom: 5rem;
            }

            .w-nav-btn {
              span {
                font-size: 25rem;
              }
            }

            &.w-nav-prev {
              .w-nav-btn {
                &::before {
                  height: 35rem;
                }

                &:hover {
                  &::before {
                    width: 35rem;
                    opacity: 1;
                  }
                }
              }
            }

            &.w-nav-next {
              .w-nav-btn {
                &::after {
                  height: 35rem;
                }

                &:hover {
                  &::after {
                    width: 35rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
